.header {
  background-color: #F55A5A;
  text-align: center;
  padding: 10px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  gap: 20px;
  margin-left: 50px;
  margin-top : 50px;
}

.card > img {
  border-radius: 7px;
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.level-1 {
  display: flex;
  align-items: center;
  gap: 10px;  
  margin-bottom: 0px;
}

.overall {
  margin: 15px;
  font-family: poppins;
}